<div class="card">
    <div *ngIf="edit" class="card-header">
        <i class="fa fa-user-o" aria-hidden="true"></i> Edit Permission
    </div>
    <div *ngIf="!edit" class="card-header">
      <i class="fa fa-user-o" aria-hidden="true"></i> Add Permission    
    </div>
    <div class="card-body">
        <form action="" method="post"(ngSubmit)="onSubmit()">
          <div class="row">
          <div class="col-6">
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><em class="fa fa-certificate"></em></span>
                  </div>
                  <input type="text" id="code" name="code" class="form-control" placeholder="Code" [(ngModel)]="model.code" #Code="ngModel">
                </div>
            </div>
          
            <label class="col col-form-label" for="select2">Roles:</label>
            <div class="col">
                <div class="form-group row">
                    <select [disabled]="edit" id="multiple-select" name="multiple-select" class="form-control" size="4" multiple [(ngModel)]="model.permissionRole" #Code="ngModel">
                        <option *ngFor="let role of activeRoles" [value]="role.roleInfoId">{{role.name}}</option>
                    </select>
                </div>
            </div>
     
            
        <div class="form-group form-actions">
            <button type="submit" class="btn btn-primary float-right">Submit</button>
          </div>
          </div>
          
        </div>
        </form>

    </div>
</div>
